[submodule "lib/hiberlite"]
	path = lib/hiberlite
	url = git@github.com:paulftw/hiberlite.git

[submodule "lib/glog"]
	path = lib/glog
	url = git@github.com:google/glog.git

[submodule "lib/fruit"]
	path = lib/fruit
	url = git@github.com:google/fruit.git
